body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  color: #444;
  margin-bottom: 20px;
}

.edit-item form {
  max-width: 500px;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #ccc;
}

.edit-item label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.edit-item input[type="text"],
.edit-item input[type="number"],
.edit-item textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-sizing: border-box;
}

.edit-item textarea {
  resize: vertical;
  height: 100px;
}

.edit-item img {
  width: 500px;
}

.edit-item input[type="submit"] {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.edit-item input[type="submit"]:hover {
  background-color: #3e8e41;
}
