.container form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

.container form label {
  margin-bottom: 10px;
}

.container form input[type="text"],
.container form input[type="email"],
.container form input[type="password"],
.container form input[type="number"],
.container form select {
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.container form input[type="submit"],
.container form button[type="submit"] {
  background-color: #333;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.container form input[type="submit"]:hover,
.container form button[type="submit"]:hover {
  background-color: #444;
}

h1 {
  text-align: center;
  margin-top: 20px;
}
