body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.item-container {
  max-width: 800px;
  margin: 100px auto;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}

.item {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.item-content {
  flex: 1;
}

.item img {
  max-width: 100%;
  height: auto;
  margin-left: 20px;
}

h1,
h2 {
  margin-top: 0;
}

.comment-section {
  margin-top: 30px;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

label {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1.2rem;
  width: 100%;
  max-width: 400px;
}

input[type="submit"] {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #555;
}
