.hero {
  background-size: cover;
  background-position: center;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.hero h1 {
  font-size: 4rem;
  margin-bottom: 1rem;
  text-shadow: 1px 1px #333;
}

.hero p {
  font-size: 2rem;
  margin-bottom: 2rem;
  text-shadow: 1px 1px #333;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  background-color: #ffc107;
  color: #333;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 3rem;
  box-shadow: 1px 1px #333;
  transition: background-color 0.2s ease-in-out;
}

.btn:hover {
  background-color: #333;
  color: #fff;
}
#bg-video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}
